.cart {
    position: absolute;
    right: 0;
    display: none;
    opacity: 0;
    width: 384px;
    top: calc(100% + 1px);
    background-color: var(--system-color-white);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: opacity 10ms ease-in-out;
}

.cart__item {
    border-bottom: 1px solid var(--system-color-neutral);
}

.cart__information {
    padding: 20px 24px 24px 24px;
}

.cart__sum, .cart__button {
    font-weight: 500;
    line-height: 130%;
}

.cart__sum {
    font-size: 16px;
}

.cart__button {
    background-color: var(--states-color-normal);
    width: 100%;
    height: 46px;
    color: var(--system-color-white);
    font-size: 15px;
    margin-top: 20px;
}

@media (hover: hover), (min-width: 1366px) {
    .cart__button {
        transition: 0.3s ease background-color;
    }

    .cart__button:hover {
        background-color: var(--states-color-hover);
    }
}

.product {
    display: flex;
    padding: 16px;
}

.product__image {
    width: 56px;
}

.product__information {
    margin-left: 16px;
    width: 180px;
}

.product__price-information {
    margin-left: 12px;
}

.product__price, .product__count, .product__title, .product__category {
    font-weight: 500;
    line-height: 130%;
}

.product__title {
    font-size: 14px;
}

.product__category {
    font-size: 12px;
    color: var(--text-color-secondary);
    opacity: 0.6;
    margin-top: 4px;
}

.product__price {
    font-size: 14px;
}

.product__count {
    margin-top: 10px;
    text-align: center;
}